<?xml version="1.0" encoding="UTF-8"?>
<server>

  <featureManager>
    <feature>oauth-2.0</feature>
    <feature>transportSecurity-1.0</feature>
  </featureManager>

  <keyStore password="keyspass" />

    <httpEndpoint id="defaultHttpEndpoint"
    host="*"
    httpPort="9080"
    httpsPort="9443" />

  <oauth-roles>
    <authenticated>
      <user>testuser</user>
    </authenticated>
  </oauth-roles>

  <oauthProvider 
    id="SampleProvider"
    grantType="authorization_code,password,refresh_token"
    accessTokenLifetime="7776000"
    scope="user group">

    <localStore>
            <client name="wasLibertyClient" secret="testPassw0rd"
              displayname="Test client number 1"
              redirect="http://localhost:1234/oauthclient/redirect.jsp"
              enabled="true" />
    </localStore>
  </oauthProvider>

  <webAppSecurity allowFailOverToBasicAuth="true" />

    <basicRegistry id="basic" realm="BasicRealm">
        <user name="MsgUser1" password="testPassw0rd" />
        <user name="MsgUser2" password="testPassw0rd" />
        <user name="MsgUser3" password="testPassw0rd" />
        <user name="MsgUser4" password="testPassw0rd" />
        <user name="MsgUser5" password="testPassw0rd" />
        <user name="MsgUser6" password="testPassw0rd" />
        <user name="test11" password="test11" />
        <user name="test12" password="test12" />
        <user name="test13" password="test13" />
        <user name="test14" password="test14" />
        <user name="test15" password="test15" />

        <group name="testGroup1">
            <member name="MsgUser1" />
            <member name="MsgUser3" />
            <member name="MsgUser5" />
            <member name="test11" />
            <member name="test12" />
            <member name="test13" />
        </group>

        <group name="testGroup2">
            <member name="MsgUser2" />
            <member name="MsgUser4" />
            <member name="test14" />
            <member name="test15" />
        </group>
    </basicRegistry>

</server>

